.keyboard {
  width: 900px;
  margin: 0 auto 50px;
  padding: 5px;
  border: 2px solid $keyboard-borderColor;
  border-radius: 4px;
  background: $keyboard-background;

  .hidden {
    display: none;
  }

  .keys_container {
    position: relative;

    .key {
      display: inline-flex;
      vertical-align: top;
      align-items: center;
      justify-content: center;

      width: 5%;
      height: 40px;
      margin: 2px;
      border: 2px solid $main-color;
      border-radius: 4px;
      background: $key-background;
      color: #fff;
      cursor: pointer;

      &:hover,
      &:active {
        background: $main-color;
        opacity: 0.65;
        transform: scale(0.95);
        transition: all 0.1s;
      }
    }

    .semi-wide_key {
      width: 8%;
    }

    .wide_key {
      width: 10%;
    }

    .extra-wide_key {
      width: 370px;
    }

    #ArrowLeft {
      margin-left: 16px;
    }

    #ArrowUp {
      position: absolute;
      bottom: 44px;
      right: 54px;
    }
  }
}
