html {
  font-family: 'Tinos', sans-serif;
  font-size: 16px;
}

.wrapper {
  // width: 100%;
  // margin: 0 auto;

  .title {
    text-align: center;
    color: $main-color;
    font-size: 2rem;
  }

  .body__textarea {
    display: block;
    width: 700px;
    height: 200px;
    margin: 10px auto 50px;
    padding: 10px;
  }

  .description,
  .language {
    text-align: center;
  }
}
